*{
    margin: 0px;
    padding: 0px;  
}

#baner {
    background-color: blue;
    display: flex;           /* aktywuje flexbox */
    align-items: center;     /* wyśrodkowanie pionowe */
    justify-content: flex-start; /* logo po lewej stronie */
    padding: 10px 20px;      /* odstęp od krawędzi */
}

#logo {
    height: 100px;
    width: auto;             /* automatyczna szerokość przy zachowaniu proporcji */
    max-width: 150px;
}

#main{
    background-color: red;
    display: flex;
    flex-direction: column; /* zdjęcia jeden pod drugim */
    align-items: center;
    gap: 20px; /* odstępy między zdjęciami */
    padding: 20px;

}

footer{
    background-color: blue;
}


table{
    display: flex;
    justify-content: center; /* poziome środkowanie */
    align-items: center;     /* pionowe środkowanie */
    height: 100%;           /* wysokość na 100% widoku */
    margin: 0;
}

.image-container {
    display: inline-block;  /* kontener dopasowuje się do szerokości zdjęcia */
    text-align: center;     /* tekst pod zdjęciem też wyśrodkowany */
}


.caption {
    margin-top: 10px;
    word-wrap: break-word;  /* tekst zawijany w obrębie kontenera */
  }

img {
    max-width: 400px;  /* np. zdjęcia nie większe niż 400px na szerokość */
    height: auto;
    display: block;
    margin: 0 auto;
}





/* Tablety i telefony */
@media (max-width: 900px) {
    img {
        max-width: 300px; /* mniejsze zdjęcia */
    }
}

/* Telefony */
@media (max-width: 600px) {
    img {
        max-width: 100%; /* dopasowują się do szerokości ekranu */
    }
}


@media (max-width: 600px) {
    #logo {
        height: 70px;
        max-width: 100px;
    }
}